<link rel="stylesheet" type="text/css" href="styles/form.css">
<form action="/form" method="post">
<input type="text" name="phone_number">
</br>
<input type="text" name="message">
</br>
</br>
<input type="submit" class="submitButton">
</form>